{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}

  <!-- Dashboard Content -->
  <div class="container mt-5">
    <div class="dashboard-content">
      <h1 class="mb-3">Welcome to the Dashboard</h1>
      <p class="lead">Monitor your sales, stock, performance, and other key metrics all in one place.</p>
      <!-- Add any dashboard widgets or charts here -->
    </div>
  </div>

 

 {% endblock %}