{% extends "base.html" %}
{% block title %}Home/Index{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<!-- Landing Content -->
<div class="container mt-5 text-center">
  <div class="fst-italic">
    <h3>The absolute POS <br>System you have been looking for</h3>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-lg-10 col-xxl-8">
      <p class="lead mb-5">
        <strong>Mduka Point of Sale</strong> is user-friendly, dependable both online and offline, and packed with
        features to support all your business requirements. Get started in just minutes, begin selling right away, and
        keep your team and customers happy!
      </p>
      <a class="btn btn-primary mb-3" style="margin: 0 auto;" href="/trial?selected_app=point_of_sale">
        Start now - It's free
      </a>
      <div>
        <small>Free, forever, with unlimited users.
          <a href="#" data-bs-toggle="tooltip" data-bs-placement="right">See why</a>
        </small>
      </div>
    </div>
  </div>
</div>

{% endblock %}